modules = ["nodejs-20"]
run = "npm start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 24771
externalPort = 3000

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install && npm start"

[agent]
expertMode = true
